<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
	<div th:replace="~{fragments :: head}"></div>
 	<title>Foto dettaglio</title>
 </head>
 <body>
 
 <div th:replace="~{fragments :: navbar}"></div>
 
 <div class="container">
 	<div class="row justify-content-center my-4">
 		<div class="col-4">
	 		<div class="card">
			  <img th:alt="${photo.getTitle()}" th:src="${photo.getUrl()}">
			  <div class="card-body">
			  	<p>Tag: <span th:text="${photo.getTag()}"></span></p>
			    <h5 class="card-title" th:text="${photo.getTitle()}"></h5>
			    <p class="card-text" th:text="${photo.getDescription()}"></p>
			    <a class="btn btn-primary" th:href="@{/photos/edit/{id}(id=${photo.getId()})}">Modifica</a>
			  </div>
			</div>
		</div>
	</div>
 </div>
 

 </body>
 </html>